
footer{
    color:#caced1;
    background-color: #1D214E;
 }

 .footer-top p{
    font-family: roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
 }


 .row-2 h6{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: rgba(4, 215, 162, 1);
 }

.bottom{
    background-color: rgba(59, 62, 93, 0.8);
}