

  .fields h3{
    font-size: 24px;
    font-weight: 900;
    color: rgba(30, 33, 78, 1);
    line-height: 27px;
}

.fields .col-3{
    background-color: #DB2B1E;
}

.fields .card-body{
    width: 277px;
    height: 277px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online h2{
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: left;

}

.online p{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
}

@media (max-width:559px) {
    .online img{
        width: 311px;
        height: 311px;
    }
  }