<div>
    <div class="header-blue">
      <nav class="navbar navbar-expand-md navigation-clean-search">
        <div class="container">
          <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Trang chủ</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Tổng quan</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Lĩnh vực hoạt động</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Liên hệ</a>
              </li>
              <li
                class="nav-item"
                role="presentation"
                style="border: 1px #04d7a2 solid; border-radius: 20px"
              >
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container hero">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <h1>Chào mừng bạn ghé thăm <br>
                website chính thức của EZTEK</h1>
            <p class="mt-3">
                Chúng tôi mong bạn vui lòng dành thời gian đọc và tìm hiểu <br> những điều khoản về thỏa thuận pháp lý giữa bạn và EZTEK <br> như dưới đây  
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <section class="rules mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h3>ĐIỀU KHOẢN SỬ DỤNG</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12">
                <h4>BẢN QUYỀN VÀ THƯƠNG HIỆU</h4>
                <p>Trang web này và tất cả nội dung của website, bao gồm nhưng không giới hạn các văn bản, thiết kế, đồ họa, giao diện, hình ảnh, mã code đều thuộc bản quyền của EZTEK hoặc bên thứ ba cấp phép cho EZTEK. Bản quyền của EZTEK được thể hiện trên website bằng dòng chữ Copyright@eztek2022.
                    <br>
                Bất kỳ nội dung nào thuộc website này bao gồm nhãn hiệu, tên thương mại, mẫu logo công ty hoặc sản phẩm, kiểu dáng sản phẩm... đều thuộc quyền sở hữu của EZTEK và được bảo hộ theo quy định của Luật Sở hữu trí tuệ Việt Nam và các văn bản liên quan.
                    <br>
                Mọi hành vi sao chép, trích dẫn, sửa đổi, phân phối, xuất bản, lưu thông… vì mục đích thương mại dưới mọi hình thức mà không được sự chấp thuận trước bằng văn bản của EZTEK là xâm phạm quyền của EZTEK. EZTEK có quyền yêu cầu người sử dụng chấm dứt việc sử dụng và bồi thường thiệt hại (nếu có).</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12">
                <h4>NỘI DUNG</h4>
                <h5>QUYỀN VÀ TRÁCH NHIỆM CỦA EZTEK </h5>
                <p>
                    FPT có quyền thay đổi và/hoặc chấm dứt các nội dung, tính năng của một phần hay toàn bộ website mà không cần     thông báo trước với người sử dụng.
                        <br>
                    FPT có quyền thực hiện các biện pháp an ninh để bảo vệ và chống các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin.
                        <br>
                    FPT có quyền thực hiện các biện pháp an ninh để bảo vệ và chống lại các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin trên website.
                        <br>
                    Khi sử dụng website, thông tin sẽ được truyền qua một phương tiện/thiết bị nằm ngoài sự kiểm soát của FPT. Theo đó, FPT không chịu trách nhiệm cho hoặc liên quan đến bất kỳ sự chậm trễ, thất bại, bị gián đoạn của bất kỳ dữ liệu hoặc các thông tin khác được truyền trong kết nối với việc sử dụng của website.
                </p>
                <h5>QUYỀN VÀ TRÁCH NHIỆM CỦA NGƯỜI SỬ DỤNG</h5>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12">
                <h4>ĐIỀU KHOẢN CHUNG</h4>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            </div>
        </div>
    </div>
  </section>
  
  
  <app-footer></app-footer>
  