

  .rules h3{
    font-family: Lato;
    font-size: 28px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(30, 33, 78, 1);
  }

  .rules h4{
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: rgba(30, 33, 78, 1);
  }

  .rules h5{
    font-family: Lato;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(30, 33, 78, 1);
  }

  .rules p{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(30, 33, 78, 1);
  }