<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-5 ">
                    <h1>Bạn đang gặp khó khăn phải không? Đừng lo!</h1>
                    <p class="mt-3">Việc gì khó có EZTEK Lo. Chỉ cần bạn mờ lời chúng tôi <br> sẽ sẵn sàng giải đáp. 
                    </p>
                    <h2>Liên hệ ngay với EZTEK nào!</h2>
                    <h3>Chúng tôi sẽ liên lạc lại với bạn trong vòng 24h</h3>
                </div>
                <div class="col-lg-4 col-md-12 ms-auto">
                    <img src="/assets/img/contact/banner.jpg" width="443px" height="592px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <h5>Họ và tên</h5>
                <input type="text" placeholder="Vu Thi Nhan">
                <h5>Loại yêu cầu</h5>
                <input type="option">
                <input type="text" >
                <h5>Thông tin liên hệ</h5>
                <input type="text" placeholder="Số điện thoại của bạn"> <br>
                <input type="text" placeholder="Email của bạn">
            </div>
            <div class="col-lg-5 col-md-12">

            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>

