.hero h2{
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.hero h3{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}