.header-blue {
    background: linear-gradient(259.77deg, #1D214E 7.08%, #04D7A2 94.45%, rgba(255, 255, 255, 0) 116.45%);
    padding-bottom:80px;
    height: 772px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom:120px;
    }
  }
  @media (max-width:559px) {
    .header-blue {
      min-height: 369px;
    }
    .header-blue .hero h1{
        font-size: 24px;
        font-weight: 500;
    }
    .header-blue .hero p{
        font-size: 16px;
        font-weight: 400;
    }
    
  }
  
  .header-blue .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color:transparent;
      margin:0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:.7rem;
      padding-right:.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }

  .header-blue .navbar .navbar-nav a{
    color: #fff;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color: #fff;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#fff;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border:1px solid #DB2B1E;
    border-radius:40px;
    color:#DB2B1E;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }
  
  .header-blue .action-button:hover {
    color:#fff;
  }
  
  .header-blue .navbar .form-inline label {
    color:#fff;
  }
  
  .header-blue .hero {
    margin-top:20px;
    text-align:center;
    align-items: center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top:60px;
      text-align:left;
    }
  }
  
  .header-blue .hero h1 {
    color:rgba(30, 33, 78, 1);
    font-size:24px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:900;
    line-height:1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top:160px;
      margin-bottom:24px;
      line-height:1.2;
    }
  }
  
  .header-blue .hero p {
    color:rgba(51, 48, 47, 1);
    font-size:16px;
    margin-bottom:30px;
    font-weight:400;
    line-height: 30px;
  }

  @media (max-width:559px) {
    .hero img{
        width: 300px;
        height: 350px;
    }
  }

  .vision h2{
    font-weight: 900;
    font-size: 28px;
    color: rgba(219, 43, 30, 1);
  }

  .vision p{
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: rgba(51, 48, 47, 1);
  }

  .vision img{
    width:130px;
    height: 130px;
    align-items: end;
  }

  .vision h3{
    font-size: 20px;
    font-weight: 900;
    color: rgba(4, 215, 162, 1);
  }

  .mission{
    margin-bottom: 100px;
  }

  .mission h2{
    font-weight: 900;
    font-size: 28px;
    color: rgba(219, 43, 30, 1);
  }

  .mission p{
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: rgba(51, 48, 47, 1);
  }