<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-5 ">
                    <h1>Tầm nhìn và sứ mệnh</h1>
                    <p class="mt-3">Một mục tiêu tối thượng – nếu được cấu thành tốt – có<br> thể giúp hành động của EZTEK trở nên mạnh mẽ hơn<br> trên con đường tiến tới thành công.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 ms-auto">
                    <img src="/assets/img/mission/banner.jpg" width="443px" height="592px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="vision mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>Tầm nhìn</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p class="mt-3"> Là công ty công nghệ công Nghệ thông tin hàng đầu thế giới, luôn không ngừng nắm bắt xu hướng chuyển đổi số toàn cầu qua đó đạt mốc “Kỳ lân Công nghệ” trước 2027.</p>
                <p class="mt-3">Để đạt được mục tiêu này, EZTEK xây dựng các chương trình hành động cân bằng, toàn diện ở cả ba khía cạnh</p>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col-lg-4 col-md-12">
                <img src="/assets/img/mission/vision1.jpg" alt="">
                <h3 class="mt-4">KINH DOANH</h3>
            </div>
            <div class="col-lg-4 col-md-12">
                <img src="/assets/img/mission/vision2.jpg" alt="">
                <h3 class="mt-4">CÔNG NGHỆ</h3>
            </div>
            <div class="col-lg-4 col-md-12">
                <img src="/assets/img/mission/vision3.jpg" alt="">
                <h3 class="mt-4">CON NGƯỜI</h3>
            </div>
        </div>
    </div>
</section>

<section class="mission mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>Sứ mệnh</h2>
            </div>
        </div>
        <div class="row mt-4">
            <p>Đơn giản hóa ứng dụng Công nghệ thông tin vào mọi lĩnh vực cuộc sống; hỗ trợ và thúc đẩy chuyển đổi số của tất cả các doanh nghiệp, trong đó cung cấp các sản phẩm với tiêu chuẩn của tập đoàn, doanh nghiệp lớn tới tất cả các công ty ở mọi cấp độ về quy mô hoạt động.
            </p>
        </div>
    </div>
</section>


<app-footer></app-footer>

