<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <h1>GIÁ TRỊ CỐT LÕI </h1>
                    <p class="mt-3"> Giá trị cốt lõi là nền tảng, chuẩn mực cho toàn bộ hành vi ứng xử ở nơi làm việc.EZTEK tin rằng Các giá trị cốt lõi của nhân viên tại nơi làm việc, cùng với kinh nghiệm của họ, kết hợp với nhau tạo thành văn hóa doanh nghiệp EZTEK.
                    </p>
                </div>
                <div class="col-lg-8 col-md-12 ms-auto text-end">
                    <img src="/assets/img/core_value/banner.jpg" width="737px" height="548px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="value mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Giá trị cốt lõi</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12 text-center">
                <h3>
                    <span>Tôn trọng </span><span class="mx-4">-</span><span>Đồng hành</span><span class="mx-4">-</span><span>Chia sẻ </span><span class="mx-4">-</span><span>Lắng nghe </span><span class="mx-4">-</span><span>Sáng tạo</span><span class="mx-4">-</span><span>Nâng tầm</span>
                </h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 col-md-12 text-center">
                <p>"Tôn trọng - Đồng hành - Chia sẻ -Lắng nghe - Sáng tạo - Nâng tầm
                    " được xem là một phần không thể thiếu kiến tạo nên bộ GEN của Eztek, là Tinh thần Eztek, là sức mạnh thúc đẩy mọi cá nhân không ngừng nỗ lực, sáng tạo vì lợi ích chung của cộng đồng, khách hàng  đồng thời thể hiện sự ưu tiên khách hàng, nhấn mạnh tính kết nối nhân văn, sáng tạo trong mọi hoạt động của doanh nghiệp.
                    </p>
            </div>
        </div>
    </div>
</section>

<section class="cores" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-5">
                <h4>1. Tôn trọng</h4>
                <p>Tôn trọng bản thân</p>
                <p>tôn trọng khách hàng</p>
                <p>tôn trọng pháp luật</p>
            </div>
            <div class="col-lg-3 col-md-6 ms-auto mt-5">
                <h4>2. Đồng hành</h4>
                <p>Đồng tâm, Tập thể và Chân thành</p>
                <p>Chung một mục tiêu chung "vì sự thành công của khách hàng và sự phát triển trường tồn của công ty"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-5">
                <h4>3. Chia sẻ</h4>
                <p>Chia sẻ và giúp đỡ lẫn nhau</p>
            </div>
            <div class="col-lg-3 col-md-6 ms-auto mt-5">
                <h4>4. Lắng nghe</h4>
                <p>lắng nghe để thấu hiểu lẫn nhau</p>
                <p>lắng nghe để thay đổi</p>
                <p>lắng nghe để cùng nhau phát triển </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-5">
                <h4>5. Sáng tạo</h4>
                <p>Chủ động và không ngừng đổi mới để dáp ứng nhu cầu ngày càng đa dạng của thị trường</p>
            </div>
            <div class="col-lg-3 col-md-6 ms-auto mt-5">
                <h4>6. Nâng tầm</h4>
                <p>không ngừng học hỏi, tích lũy kinh nghiệm</p>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>

