<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-5 ">
                    <h1>GIẢI PHÁP SỐ HÀNG ĐẦU VIỆT NAM </h1>
                    <p>Đồng hành cùng bạn trong chiến lược phát triển kinh doanh trên internet, Eztek tự tin cung cấp cho bạn trên nền tảng Web, Mobile , các hệ thống ứng dụng và xây dựng các nền tảng phát triển phần mềm nhanh nhằm mang lại các trải nghiệm tốt nhất cho doanh nghiệp bạn
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="describe mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-auto text-center">
                <h2>Giới thiệu chung</h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-md-12 text-center left">
                <img src="/assets/img/home-img/logo1.jpg" alt="">
                <h3>Công Ty Cổ Phần Công Nghệ True Connect</h3>
                <p>Tiên phong kiến tạo giải pháp số </p>
                <p>Khẳng định vị thế dẫn đầu  </p>
            </div>
            <div class="col-lg-6 col-md-12 text-center right">
                <div class="row mt-5">
                    <div class="col-6">
                        <h6>+40</h6>
                        <p>Nhân viên</p>
                    </div>
                    <div class="col-6">
                        <h6>+03 năm</h6>
                        <p>Kinh nghiệm</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <h6>+100 tỷ VND</h6>
                        <p>Doanh thu năm 2022</p>
                    </div>
                    <div class="col-6">
                        <h6>+400</h6>
                        <p>Khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="content mt-5">
    <div class="container">
        <div class="row row-1">
            <div class="col-lg-6 col-md-12">
                <p>EZTEK  là công ty giải pháp số được tạo dựng bởi các thành viên đầy đam mê, tài năng và giàu kinh nghiệm.  Với nhiều năm kinh nghiệm làm việc tại các công ty, tập đoàn,  doanh nghiệp lớn như Vietinbank, VNPT, VTC, VTV, FPT... Tham gia hơn 20 dự án lớn với vai trò trực tiếp và quản lý đội ngũ trong các hệ thống CoreBank, Core Payment, Eiinvoice, EOffice, EDW, CRM, HRM …
                </p>
            </div>
        </div>
        <div class="row row-2">
            <div class="col-lg-5 col-md-12">
                <p>Chúng tôi  luôn đề cao nhu cầu cá nhân của mỗi khách hàng đồng thời mong muốn có thể tối ưu về mặt chi phí và tối đa lợi ích sử dụng để có thể đem đến cho khách hàng những trải nghiệm tốt nhất.…
                </p>
            </div>
        </div>
        <div class="row row-3 mt-3">
            <div class="col-lg-4 col-md-6 box">
                <p>Đó có thể là hàng triệu dòng code, hàng triệu giờ làm việc ,hàng ngàn cuộc gặp khách hàng, những tư vấn sâu sắc đúng đắn, những dự án đúng hạn chất lượng cao, những kết quả vượt kỳ vọng. Bằng cách tạo giá trị thông qua những sản phẩm, dịch vụ phần mềm đầy tâm huyết, chúng tôi khát khao cùng tạo lập và chuyển giao hạnh phúc đích thực, trao đến cho các bạn những giá trị đích thực và đồng hành cùng các doanh nghiệp trên con đường vươn tầm thế giới.
                </p>
            </div>
        </div>
    </div>
  </section>

<app-footer></app-footer>
