
  
  .header-blue .hero p {
    color:rgba(51, 48, 47, 1);
    font-size:16px;
    margin-bottom:30px;
    font-weight:400;
    line-height: 30px;
  }
  
  .describe img{
    width: 257px;
    height: 179px;
}

.describe h2{
    font-weight: 900;
    font-size: 28px;
    color: rgba(30, 33, 78, 1);
}

.describe .left h3{
    font-family: inter;
    font-weight: 600;
    font-size: 28px;
}

.describe .left h3{
    font-family: inter;
    font-weight: 500;
    font-size: 20px;
}

.describe .right h3{
    font-family: lato;
    font-weight: 800;
    font-size: 50px;
    line-height: 36px;
    color: #04D7A2;
}

.row-1 p{
  font-family: lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.row-2 p{
  font-family: lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.row-3 .box{
  border: 1px rgba(4, 215, 162, 1) solid;
}

.row-3 p{
  font-family: lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
}