<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <h1>ĐỘI NGŨ CỦA CHÚNG TÔI</h1>
                    <p class="mt-3"> Kế thừa tâm huyết từ những nhân sự sáng lập, những con người EZTEK luôn làm việc với một giá trị cốt lõi là sự đam mê nghề nghiệp, tinh thần cương trực, lòng nhiệt huyết và đoàn kết.
                    </p>
                </div>
                <div class="col-lg-8 col-md-12 ms-auto text-end">
                    <img src="/assets/img/teams/banner.jpg" width="737px" height="548px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="teams mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>ĐỘI NGŨ EZTEK</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-12 mt-4">
                <h3>Chúng tôi là ai?  </h3>
                <h3>CEO: GIANGVT</h3>
                <p>Với hơn 12 năm kinh nghiệm chinh chiến ở các công ty, tập đoàn doanh, nghiệp lớn như Vietinbank, VNPT, VTC, VTV,.. Tham gia hơn 20 dự án lớn với vai trò trực tiếp và quản lý đội ngũ trong các hệ thống CoreBank, Core Payment, Eiinvoice, EOffice, EDW, CRM, HRM …
                </p>
            </div>
            <div class="col-lg-8 col-md-12 mt-4 text-end">
                <img src="/assets/img/teams/team1.jpg" width="725px" height="425px" alt="">
            </div>
        </div>
        <div class="row row-1">
            <div class="col-lg-3 col-md-12 mt-4">
                <img src="/assets/img/teams/team2.jpg" style="border: 1px solid #04D7A2;" width="243px" height="331px" alt="">
            </div>
            <div class="col-lg-3 col-md-12 mt-4">
                <img src="/assets/img/teams/team2.jpg" style="border: 1px solid #04D7A2;" width="243px" height="331px" alt="">
            </div>
            <div class="col-lg-4 col-md-12 mt-4 ms-auto">
                <h3>FOUNDER: LÊ THU HẰNG </h3>
                <p>Đóng vai trò là chuyên gia tài chính (CFO), Chuyên gia Phân tích nghiệp vụ, người hài hòa giấc mơ (Founder, COO) với nền tảng 12 năm chuyên toán, tốt nghiệp cử nhân và thạc sĩ Đại học Kinh tế Quốc Dân
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 mt-4">
                <h3>Nhân sự chúng tôi như thế nào?</h3>
                <h3>Luôn luôn nỗ lực, luôn luôn đam mê</h3>
                <p>Con người và Công nghệ là 2 tài sản cốt lõi quan trọng nhất của Eztek. Eztek tự hào với đội ngũ nhân sự năng động, sáng tạo luôn dốc hết đam mê vào công việc nhằm đem lại những giá trị tốt nhất cho khách hàng
                </p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

