<div>
    <div class="header-blue">
        <nav class="navbar navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/assets/img/home-img/logo.jpg" width="166px" height="76px" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tổng quan</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Lĩnh vực hoạt động</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item" role="presentation" style="border: 1px #04D7A2 solid; border-radius: 20px;">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 ">
                    <h1>EZTEK DIGTAL SOLUTION</h1>
                    <p>Chạm tới thành công </p>
                    <button class="btn btn-light btn-lg action-button" type="button">Learn More</button> 
                    <span style="margin-left: 10px;"><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></span>
                </div>
            </div>
            <div class="row gx-5 mt-5 text-center justify-content-center">

                <div class="col-lg-3 col-md-12">
                  <div class="icon-box">
                    <h4 class="title"><a href="" class="stretched-link"></a></h4>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-12">
                  <div class="icon-box">
                    <h4 class="title"><a href="" class="stretched-link"></a></h4>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-12">
                  <div class="icon-box">
                    <h4 class="title"><a href="" class="stretched-link"></a></h4>
                  </div>
                </div>
        
              </div>
        </div>
    </div>
</div>

<!-- <div class="icon-boxes position-relative overlay">
    <div class="container position-relative">
      <div class="row gx-5 mt-5 text-center d-flex justify-content-center">

        <div class="col-xl-3 col-md-12">
          <div class="icon-box">
            <h4 class="title"><a href="" class="stretched-link"></a></h4>
          </div>
        </div>

        <div class="col-xl-3 col-md-12">
          <div class="icon-box">
            <h4 class="title"><a href="" class="stretched-link"></a></h4>
          </div>
        </div>

        <div class="col-xl-3 col-md-12">
          <div class="icon-box">
            <h4 class="title"><a href="" class="stretched-link"></a></h4>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <section class="administration">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <h2 class="my-5">Quản trị tổng thể doanh nghiệp</h2>
                <p><span><img src="/assets/img/home-img/icon_check.jpg" alt=""></span> Chuẩn hóa quy trình</p>
                <p><span><img src="/assets/img/home-img/icon_check.jpg" alt=""></span>Linh hoạt và đáp ứng sự thay đổi</p>
                <p><span><img src="/assets/img/home-img/icon_check.jpg" alt=""></span>Nhất quán hoạt động</p>
                <p><span><img src="/assets/img/home-img/icon_check.jpg" alt=""></span>Lên kế hoạch cho mọi cơ hội thành công</p>
            </div>
            <div class="col-md-12 col-lg-7">
                <img src="/assets/img/home-img/quantri.jpg" width="100%" height="auto" style="border-radius: 12px;" alt="">
            </div>
        </div>
    </div>
  </section>

  <section class="fields mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Các lĩnh vực hoạt động</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto" style="position: relative;">
                    <img src="/assets/img/home-img/field1.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: -35px;">
                  <h4 class="mb-3">Cung cấp dịch vụ ERP</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto" style="position: relative;">
                    <img src="/assets/img/home-img/field2.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: -35px;">
                  <h4 class="mb-3">Thương mại điện tử</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto">
                    <img src="/assets/img/home-img/field3.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: 35px;">
                  <h4 class="mb-3">tư vấn công nghệ 
                    thông tin</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 100px;">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto">
                    <img src="/assets/img/home-img/field4.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: 35px;">
                  <h4 class="mb-3">Dịch vụ phần mềm
                    cá nhân hóa</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto">
                    <img src="/assets/img/home-img/field5.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: 35px;">
                  <h4 class="mb-3">  Dịch vụ cho thuê 
                    ngoài doanh nghiệp</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="text-center shadow card py-3 border-0 rounded-sm">
                <div class="card-body mx-auto">
                    <img src="/assets/img/home-img/field6.jpg" alt="" width="60px" height="60px" 
                    style="position: absolute; top:-50px;left: 35px;">
                  <h4 class="mb-3">Quản lý dịch vụ</h4>
                </div>
              </div>
            </div>
          </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <button>xem thêm</button>
            </div>
        </div>
    </div>
  </section>

  <section class="mission mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h3 class="mt-5">Sứ mệnh và tầm nhìn</h3>
                <p>Là công ty công nghệ thông tin hàng đầu thế giới , luôn không ngừng nắm bắt xu hướng chuyển đổi số toàn cầu qua đó đạt mốc “Kỳ lân Công nghệ” trước 2027.
                </p>
                <button>Xem thêm</button>
            </div>
            <div class="col-lg-7 col-md-12 text-end" style="position: relative;">
                <div class="row" style="position: absolute; top: 25px;">
                    <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"
                        style="background-color: #fff;"> 
                            <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                            <h5 class="pt-5 pb-3 text-capitalize card-title">Kinh doanh</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"
                        style="background-color: #fff;"> 
                            <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                            <h5 class="pt-5 pb-3 text-capitalize card-title">Công nghệ</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"
                        style="background-color: #fff;"> 
                            <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                            <h5 class="pt-5 pb-3 text-capitalize card-title">Con người</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="describe" style="margin-top: 100px;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 text-center left">
                <img src="/assets/img/home-img/logo1.jpg" alt="">
                <h6>Công Ty Cổ Phần Công Nghệ True Connect</h6>
                <p>Tiên phong kiến tạo giải pháp số </p>
                <p>Khẳng định vị thế dẫn đầu  </p>
            </div>
            <div class="col-lg-6 col-md-12 text-center right">
                <div class="row mt-5">
                    <div class="col-6">
                        <h6>+40</h6>
                        <p>Nhân viên</p>
                    </div>
                    <div class="col-6">
                        <h6>+03 năm</h6>
                        <p>Kinh nghiệm</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <h6>+100 tỷ VND</h6>
                        <p>Doanh thu năm 2022</p>
                    </div>
                    <div class="col-6">
                        <h6>+400</h6>
                        <p>Khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <app-footer></app-footer>